{% extends '../layout.twig' %}
{% block body %}
  <nav>
    <div class="row nav-wrapper">
      <div class="col s11">
        <a href="/post" class="breadcrumb">Posts</a>
        <a href="#" class="breadcrumb">Post</a>
      </div>
      <div class="col s1 right current-user">
      </div>
    </div>
  </nav>
  <br />

  <h4>{{ post.postTitle }}</h4>
  <h6>
      <span class="green-text">{{ post.username }} </span>
      <span class="grey-text">{{ post.updatedAt | date('Y/m/d') }}</span>
  </h6>
  <p class="flow-text">
    {{ post.postContent }}
  </p>
  <br />

  {% for response in post.responses %}
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s1">
            <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="" class="circle responsive-img" />
          </div>
          <div class="col s11">
            <p class="black-text">{{ response.responseContent }}</p>
            <span>
              <span class="green-text">{{ response.username }} </span>
              <span class="grey-text">{{ response.updatedAt | date('Y/m/d') }}</span>
            </span>
            <span class="red-text right delete-response" id="response-{{ response.id }}-{{ response.username }}" style="cursor: pointer">
              <i class="material-icons">delete_forever</i>
            </span>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <br />

  <h4>Add new response</h4>
  <div class="row">
    <form action="/response/new" method="post">
      <div class="input-field col s6">
        <input id="username" name="username" type="text" class="validate">
        <label class="active" for="username">Username</label>
      </div>
      <input id="postId" name="postId" type="hidden" value={{post.id}}>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="responseContent" name="responseContent" class="materialize-textarea" data-length="120"></textarea>
          <label for="responseContent">Content</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Submit</button>
    </form>
  </div>

  <script>
    $(".current-user").html(localStorage.username);
    $("#username").val(localStorage.username);
    $(".delete-response").each(function() {
      var elementId = $(this).attr("id");
      var username = elementId.split('-')[2];
      if (localStorage.username !== username) {
        $(this).hide();
      }
    });
    $(".delete-response").click(function() {
      var elementId = $(this).attr("id");
      var responseId = elementId.split('-')[1];
      if (confirm("Are you sure to delete this response?") == true) {
        location.href = "/response/delete/"+responseId;
      }
    });
  </script>
{% endblock %}